<header class="header">
  <p class="header-logo">
    <%= link_to root_path, class: "header-logo_link" do %>
      GoodThings
    <% end %>
  </p>

  <nav class="header-nav">
    <ul class="header-nav_list">
      <li class="header-nav_item">
        <%= link_to new_user_path, class: "header-nav_link" do %>新規登録<% end %>
      </li>
      <li class="header-nav_item">
        <%= link_to login_path, class: "header-nav_link" do %>ログイン<% end %>
      </li>
    </ul>
  </nav>
</header>