<header class="header">
  <div class="header__inner">
    <%= link_to root_path, class: "header-logo_link" do %>
      <%= image_tag "logo.png", alt: "タイトルロゴ", class: "logo-img" %>
    <% end %>

    <nav class="header__nav nav" id="js-nav">
      <ul class="nav__items nav-items">
        <li class="nav-items__item"><%= link_to '新規登録', new_user_path, class: "header-nav_link" %></li>
        <li class="nav-items__item"><%= link_to 'ログイン', login_path, class: "header-nav_link" %></li>
      </ul>
    </nav>

    <button class="header__hamburger hamburger" id="js-hamburger">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>