<header class="header">
  <div class="header__inner">
    <h1 class="header__title header-title">
      <%= link_to root_path do %>
        GoodThings
      <% end %>
    </h1>

    <nav class="header__nav nav" id="js-nav">
      <ul class="nav__items nav-items">
        <li class="nav-items__item">
          <%= link_to login_path do %>ログイン<% end %>
        </li>
        <li class="nav-items__item">
          <%= link_to new_user_path do %>新規登録<% end %>
        </li>
      </ul>
    </nav>

    <button class="header__hamburger hamburger" id="js-hamburger">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>