<div class="w-full">
  <div class="bg-[#F0EFEC] border border-gray-300 rounded-xl px-4 py-4 shadow-sm relative">
    <p class="font-klee text-gray-800 font-medium text-sm leading-relaxed tracking-wide text-center">
      <%= post.body %>
    </p>
  </div>
</div>