.top_wrapper {
  min-height: calc(100vh - 80px); 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top_inner {
  padding: 0 20px;
  text-align: center;
}

.top_title {
  font-size: 70px;
  font-weight: bold;
  color: #008db7;
}

.top_text {
  margin-top: 56px;
  font-size: 20px;
  color: black;
}

.top_sub-text {
  margin-top: 24px;
}

.top_btn {
  margin-top: 56px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.m_btn_wrapper {
  text-align: center;
}

.m_btn {
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  padding: 10px 10px;
  border-radius: 15%;
  color: black;
  position: relative;
  overflow: hidden;
  border: 1px solid rgb(102, 99, 96);
  z-index: 0;
}

.m_btn::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(183, 181, 178);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.5s;
  z-index: -1;
  pointer-events: none;
}

.m_btn-txt {
  position: relative;
  z-index: 1;
}

.m_btn:hover::before {
  transform: translateX(0);
}